


1.   Matplotlib



2.  Numpy



3.   List

In [2]:
num=[1,2,3,45,6,7,8,9,10]
print(num)

[1, 2, 3, 45, 6, 7, 8, 9, 10]

In [3]:
num=[1,2,3,45,6,7,8,9,10]

print('sum:', sum(num))

sum: 91

In [5]:
num=[1,2,3,45,6,7,8,9,10]
print('MIN:', min(num))

MIN: 1

In [6]:
num=[1,2,3,45,6,7,8,9,10]
print('MAX:', max(num))

MAX: 45

In [7]:
num=[1,2,3,45,6,7,8,9,10]
num.append(66)
num.remove(1)
print('UPDATED LIST: ', num)

UPDATED LIST:  [2, 3, 45, 6, 7, 8, 9, 10, 66]

In [11]:
num=[1,2,3,45,6,7,8,9,10]
print('ASCENDING: ', sorted(num))
print('DESCENDING: ', sorted(num, reverse=True))

ASCENDING:  [1, 2, 3, 6, 7, 8, 9, 10, 45]
DESCENDING:  [45, 10, 9, 8, 7, 6, 3, 2, 1]



4.   Tuple

In [13]:
name= ('ali', 'ahmed', 'sana', 'zara', 'soha')
print(name)

print("Second element: ", name[1])
print("Last element: ", name[-1])

('ali', 'ahmed', 'sana', 'zara', 'soha')
Second element:  ahmed
Last element:  soha

In [14]:
name= ('ali', 'ahmed', 'sana', 'zara', 'soha')
name[1]='akhi'

TypeError: 'tuple' object does not support item assignment

In [15]:
name= ('ali', 'ahmed', 'sana', 'zara', 'soha')
name_list= list(name)
name_list[1]= 'akhi'
print('Modified List: ', name_list)

Modified List:  ['ali', 'akhi', 'sana', 'zara', 'soha']



5.   Set

In [19]:
name1={'ali', 'ahmed', 'zara'}
name2={'ali', 'ahmed', 'zara','ali', 'zain', 'zoha'}

print('UNION: ', name1.union(name2))
print('Intersaction:', name1.intersection(name2))
print('Difference: ', name2.difference(name1))

UNION:  {'zoha', 'ali', 'zara', 'zain', 'ahmed'}
Intersaction: {'ahmed', 'ali', 'zara'}
Difference:  {'zoha', 'zain'}

In [20]:
name1={'ali', 'ahmed', 'zara'}
name2={'ali', 'ahmed', 'zara','ali', 'zain', 'zoha'}

name1.add('zain')
name2.remove('ali')
print('MODIFIED SET 1:', name1)
print('MODIFIED SET 2:', name2)

MODIFIED SET 1: {'zara', 'ali', 'ahmed', 'zain'}
MODIFIED SET 2: {'zoha', 'ahmed', 'zara', 'zain'}



6.   Dictionary

In [25]:
student_marks = {
    " ali": 85,
    "behram": 92,
    "hala": 78,
    "zoha": 90,
    "zara": 88
}

print('KEYS: ', student_marks.keys())
print('VALUES: ', student_marks.values())

KEYS:  dict_keys([' ali', 'behram', 'hala', 'zoha', 'zara'])
VALUES:  dict_values([85, 92, 78, 90, 88])

In [24]:
student_marks = {
    " ali": 85,
    "behram": 92,
    "hala": 78,
    "zoha": 90,
    "zara": 88
}

student_marks['hala']= 44
print('MODIFIED DICTIONARY: ', student_marks)

MODIFIED DICTIONARY:  {' ali': 85, 'behram': 92, 'hala': 44, 'zoha': 90, 'zara': 88}

In [27]:
student_marks = {
    "ali": 85,
    "ali": 92,
    "ali": 78,
    "ali": 90,
    "ali": 88
}

print(student_marks)

{'ali': 88}